<section class="py-2">
    <div class="row" style="color:#fff">
        <div class="col-md-6 text-center">
          <h2 class="display-3 mt-3 pt-5">
              ReactJS Ebook
          </h2>
          <p class="lead">
             Learn Building Web Applications 
          </p>
          <form action="/charge" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{stripePublishableKey}}"
                data-amount="5000"
                data-name="ReactJS Ebook"
                data-description="Ebook By Sen"
                data-image="/img/marketplace.png"
                data-locale="auto"
                >
            </script>
            <script>
                document.getElementsByClassName('stripe-button-el')[0].style.display='none';
            </script>
            <button type="submit" class="btn btn-success text-white btn-lg">Shop for $50</button>
          </form>
        </div>
        <div class="col-md-5">
            <img src="/img/ebook.jpg" alt="" class="img-fluid">
        </div>
    </div>
</section>