<div class="section py-5" style="color:#fff">
    <h2 class="display-3">
      Thank You!!!
    </h2>
    <p class="lead">Your Ebook will be emailed within 1 Bussiness Day</p>
    <a href="/" class="btn btn-primary btn-lg">Go Back</a>
</div>
